<%- include('./partials/header') %>

<h1>Edit <%= website %></h1>

<form action="/<%= userID %>/pairs/<%= pairID %>?_method=PUT" method="POST">
  <input type="text" name="pair[website]" value="<%= website %>" />
  <input type="password" name="pair[password]" placeholder="Password" />
  <input type="submit" />
</form>

<%- include('./partials/footer') %>
