<%- include('./partials/header') %>

<div class="ui main text container">
  <div class="ui huge header">RESTword</div>
  <h1 id="main-header">RESTword</h1>
  <p id="home-users-header">
    Users
    <span
      ><a href="/register"> <i class="add user icon"></i> </a
    ></span>
  </p>
  <div class="ui attached segment">
    <div class="ui divided items">
      <% users.forEach(function(user) { %>
      <div class="item">
        <div class="content">
          <a class="header"><%= user.username %></a>

          <div class="extra">
            <a href="/login/<%= user._id %>">Login</a>

            <form
              action="/users/<%= user._id %>?_method=DELETE"
              method="POST"
              id="del-form"
            >
              <button id="del-btn">
                <i class="minus square outline icon"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
