<%- include('./partials/header') %>

<h1>Hey <%= username %>!</h1>

<p>This is your <%= website %> password - <%= password %></p>

<a href="/<%= userID %>/pairs/<%= pairID %>/edit">Edit</a>

<form action="/<%= userID %>/pairs/<%= pairID %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>

<%- include('./partials/footer') %>
